.bordered {
	border: 1px black solid;
}


 
.chat-message {
 	padding: 5px 10px;
 	width: 90%;
 	height: 20px;
 }


.chat-sender {
	float: left;
	width: 50px;
	margin-right: 20px;
	font-style: italic;
}

.chat-text {
	float: left;
}

.chat-input {
	width: 75%;
	margin: 5px 10px;
}
