
html, body, #root {
	height: 99.5%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}


/* -------- LAYOUT -------- */

#mainContainer {
	height: 100%;
	padding: 5px;
}


#horContainer1 {
	height: 15%;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: stretch;
	margin-bottom: 5px;
}

#infoPanel {
	flex: 1;
	margin-right: 5px;
}

#toolPanel {
	flex: 1;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-between;
}


#horContainer2 {
	height: 85%;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: stretch;
}

#chatPanel {
	flex: 1;
	margin-right: 5px;
	position: relative;
	top: 0;
	left: 0;
}

#mapPanel {
	flex: 4;
	border: 1px red solid;
	overflow: scroll;
}



/* -------- common -------- */

.text-panel {
	border: 1px black solid;
}

h3 {
	margin: 0;
}

/* -------- info -------- */

.info-item {
	padding: 3px 10px;
}

.info-label {
	font-style: italic;
	font-size: 0.9em;
}


#userInfoContainer {
	float: left;
}

#sessionInfoContainer {
	float: right;
	min-width: 500px;
}

#userInfoContainer button {
	margin: 5px 20px;
}

/* -------- tool -------- */
.tools-group {
	flex: 1;
}

.tools-group-label {
	padding: 3px 10px;
}

/* -------- Chat -------- */
.chat-message {
	margin: 0;
 	padding: 5px 10px;
 	width: 90%;
 	height: 20px;
 }


.chat-sender {
	float: left;
	width: 50px;
	margin-right: 15px;
	font-style: italic;
}

.chat-text {
	float: left;
}

.chat-input {
	width: 70%;
	margin: 5px 10px;
}

/* -------- Tool Dialogs -------- */
.tool-dialog {
	width: 300px;
	position: absolute;
	top: 240px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #ccc;
	background: #fff;
	padding: 10px;
}

.tool-dialog h3 {
	text-align: center;
	padding-bottom: 10px;
}

.tool-dialog > div {
	padding: 5px;
	width: 100%;
	height: 20px;
}

.tool-dialog >div :first-child {
	float: left;
}

.tool-dialog >div :last-child {
	float: right;
}

.tool-dialog input[type=submit] {
	display: block;
	margin: 5px auto;
}

.tool-dialog label {
	display: inline-block;
	width: 120px;
}

.tool-dialog .optional label {
	font-style: italic;
}

.tool-dialog input[type=text] {
	display: block;
	width: auto;
}
